*{
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #efefef;
    margin: 0;
    padding: 0;
}

.header-nav {
    background-color: #43281c;
    color: #fbf2c0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
}

.logo {
    height: 30px;
    position: relative;
    top: 4px;
}

.checkout {
    display: flex;
    flex-direction: row;
    
}
