*{
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #efefef;
    margin: 0;
    padding: 0;
}


/* ----- Header ----- */

.header-nav {
    background-color: #43281c;
    color: #fbf2c0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
}

.logo {
    height: 30px;
    position: relative;
    top: 4px;
}


/* ----- Page ----- */

.page-checkout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-template-rows: auto;
    grid-template-areas:
        "order payment"
        "total total";
    gap: 20px;
    width: 100%;
    padding: 30px;
}

.order {
    grid-area: order;
}

.payment {
    grid-area: payment;
}

/* ----- Section ----- */

.section {
    background-color: #eee1d5;
    padding: 20px;
    width: 100%;
}

.section-title {
    color: #885a2d;
    font-weight: 400;
    font-size: 16px;
}

/* ----- Items ----- */

.item {
    display: grid;
    grid-template-areas: 
        "item-quantity item-name item-price"
        "item-quantity item-options item-price";
    grid-template-columns: 1fr 6fr 1fr;
    row-gap: 10px;
    padding: 10px 0;
    border-bottom: 1.5px solid #ddb892;
}

.item:last-child {
    border: none;
}

.item-quantity {
    grid-area: item-quantity;
}

.item-name {
    grid-area: item-name;
    font-weight: 600;
}

.item-price {
    grid-area: item-price;
    font-weight: 600;
}

.item-options {
    grid-area: item-options;
    list-style: none;
    font-size: 14px;
    color: #b08968;
    padding-left: 0;
}

.item-option {
    margin-bottom: 5px;
}



/* ----- User Inputs ----- */

.input {
    position: relative;
    padding: 10px;
}

.user-input {
    background-color: #eee1d5;
    border-radius: 50px;
    text-indent: 18px;
    font-size: 18px;
    width: 100%;
    padding: 10px;
    border: 1.5px solid #885a2d;
}

.user-input-label {
    background-color: #eee1d5;
    color: #885a2d;
    font-size: 11px;
    position: absolute;
    left: 35px;
    top: 4px;
    padding: 0 4px;
}

.short {
    max-width: 200px;
}


/* ----- Totals ----- */


.total {
    grid-area: total;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.total-table {
    width: 100%;
    max-width: 500px;
    margin: 20px 0;
}

.total-table td {
    padding: 10px 0;
}

.total-table td:last-child {
    text-align: right;
}

.total-final {
    font-weight: 600;
}


/* ----- Place order ----- */

.checkout {
    background-color: #deb993;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    padding: 10px;
    width: 100%;
    margin: 0 10px;
}