:root {
  --ricecake: #f4f1de;
  --greenspring: #6b705c;
  --submarine: #a5a58d;
  --serenade: #ffe8d6;
  --mistgrey: #b7b7a4;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: var(--submarine);
  height: 100vh;
}

.memory_game {
  width: 100vw;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  perspective: 1000px;
}

.memory_card {
  width: calc(16% - 10px);
  height: calc(25% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
}

/* adds a 'click' effect to the card */
.memory_card:active {
  transform: scale(0.98);
  transition: transform .2s;
}

/* adds a 'flip' effect on the card */
.flip, .flip-card-inner {
  transform: rotateY(180deg);
}

.front_face,
.back_face {
  width: 100%;
  height: 100%;
  padding: 5px;
  position: absolute;
  border-radius: 5px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.back_face {
  transform: rotateY(180deg);
}